body {
    margin: 0;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

/* SIDE LEFT */

.sideLeft {
    flex: 1;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideLeft h1 {
    font-size: 40px;
    inline-size: 350px;
    overflow-wrap: break-word;
}

.sideLeft h4 {
    font-weight: 500;
    inline-size: 550px;
    overflow-wrap: break-word;
    padding-left: 200px;
}

/* SIDE RIGHT */

.sideRight {
    flex: 1;
}

.sideRight h3 {
    width: 470px;
    color: #FFF;
    font-weight: 400;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    padding: 10px 30px;
}

.cardForm {
    width: 500px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 15px;
}

.sideRight input {
    display: flex;
    width: 395px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #CCC;
    padding: 15px 30px;
    border-radius: 8px;
    margin: 20px;
    outline: none;
}

.sideRight button {
    width: 458px;
    border: none;
    color: #FFF;
    margin-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    padding: 20px 30px;
    border-radius: 10px;
}

.sideRight h6 {
    margin-top: 15px;
    color: #BBB;
    text-align: center;
    font-weight: 500;
}

.sideRight h6 a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}